[submodule "backend"]
	path = backend
	url = https://github.com/DmitriyShustov/creditmanager-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/DmitriyShustov/creditmanager-frontend
